In [130]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [121]:
#Working with the dataset here

col_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
data = pd.read_csv("heart.csv",header=None, names=col_names)
data.describe().transpose()

         count unique  top freq
age       1026     42   58   68
sex       1026      3    1  713
cp        1026      5    0  497
trestbps  1026     50  120  128
chol      1026    153  234   21
fbs       1026      3    0  872
restecg   1026      4    1  513
thalach   1026     92  162   35
exang     1026      3    0  680
oldpeak   1026     41    0  329
slope     1026      4    1  482
ca        1026      6    0  578
thal      1026      5    2  544
target    1026      3    1  526

target_column = ['target'] 
predictors = list(set(list(data.columns))-set(target_column))
data[predictors] = data[predictors]
data[predictors].max()
#data.iloc[1:,:-1]
#(data.iloc[1:,:-1].max())

In [122]:
#split the dataset in features and target variable
feature_cols = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
x = data[feature_cols]
x = data.iloc[1:,:-1].values
y = data['target']
y = data.iloc[1:,-1].values

In [123]:
#Splitting data into Train and Test Sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=40)
print(x_train.shape); print(x_test.shape)

(717, 13)
(308, 13)

In [124]:
mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(x_train,y_train)


predict_train = mlp.predict(x_train)
predict_test = mlp.predict(x_test)

In [141]:
accuracy_test = accuracy_score(y_test,predict_test)*100
accuracy_train = accuracy_score(y_train,predict_train)*100

print("accuracy_test : ",accuracy_test)
print("accuracy_train : ",accuracy_train)

accuracy_test :  85.06493506493507
accuracy_train :  85.91352859135286

In [125]:
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[283  63]
 [ 38 333]]
              precision    recall  f1-score   support

           0       0.88      0.82      0.85       346
           1       0.84      0.90      0.87       371

    accuracy                           0.86       717
   macro avg       0.86      0.86      0.86       717
weighted avg       0.86      0.86      0.86       717

In [128]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[122  31]
 [ 15 140]]
              precision    recall  f1-score   support

           0       0.89      0.80      0.84       153
           1       0.82      0.90      0.86       155

    accuracy                           0.85       308
   macro avg       0.85      0.85      0.85       308
weighted avg       0.85      0.85      0.85       308